body {
    background-color: #eee;
}

nav {
    width: calc(100% - 20px);
    height: 120px;
    margin: 35px 10px 14px 10px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #888888;
    position: relative;
    text-align: center;
}

nav>div {
    position: absolute;
    top: -27px;
    right: calc(50% - 54px);
}

nav>div>div.circular {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    background: #acd2ed;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav>div>p {
    font-size: 16px;
    margin-top: 7px;
    color: rgb(45, 45, 45)
}

.circular>img {
    width: 108px;
    height: 108px;
}

main>ul>li {
    height: 40px;
    background: #fff;
    border-bottom: #d7d7d7 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main>ul>li:last-child {
    border-bottom: #d7d7d7 0px solid;
}

main>ul>li>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 14px;
}

main>ul>li>div>img {
    width: 26px;
    margin-right: 10px;
}

.more {
    width: 8px;
    height: 15px;
    margin-right: 14px;
}